In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
ds = pd.read_csv('rotten_tomatoes_critic_reviews.csv')
ds

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
0,m/0814255,Andrew L. Urban,False,Urban Cinefile,Fresh,NaN,2010-02-06,A fantasy adventure that fuses Greek mythology...
1,m/0814255,Louise Keller,False,Urban Cinefile,Fresh,NaN,2010-02-06,"Uma Thurman as Medusa, the gorgon with a coiff..."
2,m/0814255,NaN,False,FILMINK (Australia),Fresh,NaN,2010-02-09,With a top-notch cast and dazzling special eff...
3,m/0814255,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,2010-02-09,Whether audiences will get behind The Lightnin...
4,m/0814255,Ethan Alter,True,Hollywood Reporter,Rotten,NaN,2010-02-10,What's really lacking in The Lightning Thief i...
...,...,...,...,...,...,...,...,...
1130012,m/zulu_dawn,Chuck O'Leary,False,Fantastica Daily,Rotten,2/5,2005-11-02,NaN
1130013,m/zulu_dawn,Ken Hanke,False,"Mountain Xpress (Asheville, NC)",Fresh,3.5/5,2007-03-07,"Seen today, it's not only a startling indictme..."
1130014,m/zulu_dawn,Dennis Schwartz,False,Dennis Schwartz Movie Reviews,Fresh,B+,2010-09-16,A rousing visual spectacle that's a prequel of...
1130015,m/zulu_dawn,Christopher Lloyd,False,Sarasota Herald-Tribune,Rotten,3.5/5,2011-02-28,"A simple two-act story: Prelude to war, and th..."
1130016,m/zulu_dawn,Brent McKnight,False,The Last Thing I See,Rotten,C,2020-07-09,Rides the line between being a pure artifact o...

In [3]:
ds.describe()

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
count,1130017,1111488,1130017,1130017,1130017,824081,1130017,1064211
unique,17712,11108,2,2230,2,814,8015,949181
top,m/star_wars_the_rise_of_skywalker,Emanuel Levy,False,New York Times,Fresh,3/5,2000-01-01,Parental Content Review
freq,992,8173,841481,13293,720210,90273,48019,267

In [4]:
def mostrar_valores_faltantes(df):
    for col in df.columns.tolist():
        print('{} column missing values: {}'.format(col, df[col].isnull().sum()),'. (',(df[col].isnull().sum()/df.shape[0])*100,'%)')
    print('\n')
mostrar_valores_faltantes(ds)

rotten_tomatoes_link column missing values: 0 . ( 0.0 %)
critic_name column missing values: 18529 . ( 1.6397098450731271 %)
top_critic column missing values: 0 . ( 0.0 %)
publisher_name column missing values: 0 . ( 0.0 %)
review_type column missing values: 0 . ( 0.0 %)
review_score column missing values: 305936 . ( 27.07357499931417 %)
review_date column missing values: 0 . ( 0.0 %)
review_content column missing values: 65806 . ( 5.82345221355077 %)

In [5]:
def Eliminadatosfaltantes (dataset,columna):
  dataset = dataset[dataset[columna].notna()]
  return dataset

ds =Eliminadatosfaltantes(ds,"review_content")

In [6]:
mostrar_valores_faltantes(ds)

rotten_tomatoes_link column missing values: 0 . ( 0.0 %)
critic_name column missing values: 10013 . ( 0.9408848433252428 %)
top_critic column missing values: 0 . ( 0.0 %)
publisher_name column missing values: 0 . ( 0.0 %)
review_type column missing values: 0 . ( 0.0 %)
review_score column missing values: 305502 . ( 28.70690116903509 %)
review_date column missing values: 0 . ( 0.0 %)
review_content column missing values: 0 . ( 0.0 %)

In [7]:
ds['review_content'] = ds['review_content'].str.lower()

C:\Users\NITRO\AppData\Local\Temp\ipykernel_10172\3957651235.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['review_content'] = ds['review_content'].str.lower()

In [8]:
ds

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
0,m/0814255,Andrew L. Urban,False,Urban Cinefile,Fresh,NaN,2010-02-06,a fantasy adventure that fuses greek mythology...
1,m/0814255,Louise Keller,False,Urban Cinefile,Fresh,NaN,2010-02-06,"uma thurman as medusa, the gorgon with a coiff..."
2,m/0814255,NaN,False,FILMINK (Australia),Fresh,NaN,2010-02-09,with a top-notch cast and dazzling special eff...
3,m/0814255,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,2010-02-09,whether audiences will get behind the lightnin...
4,m/0814255,Ethan Alter,True,Hollywood Reporter,Rotten,NaN,2010-02-10,what's really lacking in the lightning thief i...
...,...,...,...,...,...,...,...,...
1130008,m/zulu,Joan Didion,False,Vogue,Fresh,NaN,2020-03-16,a rousing reconstruction of the 1879 battle of...
1130013,m/zulu_dawn,Ken Hanke,False,"Mountain Xpress (Asheville, NC)",Fresh,3.5/5,2007-03-07,"seen today, it's not only a startling indictme..."
1130014,m/zulu_dawn,Dennis Schwartz,False,Dennis Schwartz Movie Reviews,Fresh,B+,2010-09-16,a rousing visual spectacle that's a prequel of...
1130015,m/zulu_dawn,Christopher Lloyd,False,Sarasota Herald-Tribune,Rotten,3.5/5,2011-02-28,"a simple two-act story: prelude to war, and th..."
1130016,m/zulu_dawn,Brent McKnight,False,The Last Thing I See,Rotten,C,2020-07-09,rides the line between being a pure artifact o...

In [9]:
ds['review_content'] = ds['review_content'].str.replace(r'[-|-|?|/|,|<|.|>|:|;|\'|"|{|}|\\|=|+|_|)|(|*|&|^|%|$|#|@|!|`|~|/|\[|\]]','', regex=True)
ds['review_content'] = ds['review_content'].str.replace(r'\s+',' ', regex=True)
ds

C:\Users\NITRO\AppData\Local\Temp\ipykernel_10172\380577784.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['review_content'] = ds['review_content'].str.replace(r'[-|-|?|/|,|<|.|>|:|;|\'|"|{|}|\\|=|+|_|)|(|*|&|^|%|$|#|@|!|`|~|/|\[|\]]','', regex=True)
C:\Users\NITRO\AppData\Local\Temp\ipykernel_10172\380577784.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['review_content'] = ds['review_content'].str.replace(r'\s+',' ', regex=True)

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
0,m/0814255,Andrew L. Urban,False,Urban Cinefile,Fresh,NaN,2010-02-06,a fantasy adventure that fuses greek mythology...
1,m/0814255,Louise Keller,False,Urban Cinefile,Fresh,NaN,2010-02-06,uma thurman as medusa the gorgon with a coiffu...
2,m/0814255,NaN,False,FILMINK (Australia),Fresh,NaN,2010-02-09,with a topnotch cast and dazzling special effe...
3,m/0814255,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,2010-02-09,whether audiences will get behind the lightnin...
4,m/0814255,Ethan Alter,True,Hollywood Reporter,Rotten,NaN,2010-02-10,whats really lacking in the lightning thief is...
...,...,...,...,...,...,...,...,...
1130008,m/zulu,Joan Didion,False,Vogue,Fresh,NaN,2020-03-16,a rousing reconstruction of the 1879 battle of...
1130013,m/zulu_dawn,Ken Hanke,False,"Mountain Xpress (Asheville, NC)",Fresh,3.5/5,2007-03-07,seen today its not only a startling indictment...
1130014,m/zulu_dawn,Dennis Schwartz,False,Dennis Schwartz Movie Reviews,Fresh,B+,2010-09-16,a rousing visual spectacle thats a prequel of ...
1130015,m/zulu_dawn,Christopher Lloyd,False,Sarasota Herald-Tribune,Rotten,3.5/5,2011-02-28,a simple twoact story prelude to war and the w...
1130016,m/zulu_dawn,Brent McKnight,False,The Last Thing I See,Rotten,C,2020-07-09,rides the line between being a pure artifact o...

In [10]:
mostrar_valores_faltantes(ds)

rotten_tomatoes_link column missing values: 0 . ( 0.0 %)
critic_name column missing values: 10013 . ( 0.9408848433252428 %)
top_critic column missing values: 0 . ( 0.0 %)
publisher_name column missing values: 0 . ( 0.0 %)
review_type column missing values: 0 . ( 0.0 %)
review_score column missing values: 305502 . ( 28.70690116903509 %)
review_date column missing values: 0 . ( 0.0 %)
review_content column missing values: 0 . ( 0.0 %)

In [11]:
ds.to_csv("critic_reviews_normalized.csv",index=False)